@charset "UTF-8";
main {
  padding: 1em 0;
  text-align: center; }

header {
  text-align: left; }

.constraint {
  margin: 0 auto;
  padding: 0 1em; }
  .constraint--content {
    max-width: 62em; }

.nb-periodic-table-category-legend {
  display: inline-block;
  vertical-align: top; }

.nb-periodic-table-category-legend-table {
  display: table;
  border-collapse: collapse;
  width: auto; }
  .nb-periodic-table-category-legend-table caption {
    display: none; }

.nb-periodic-table-category-legend-row {
  display: table-row; }
  .nb-periodic-table-category-legend-row:last-child .nb-periodic-table-category-legend-cell {
    padding-bottom: 0; }

.nb-periodic-table-category-legend-cell {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: table-cell;
  padding: 0 2em 0.25em 0;
  vertical-align: top; }
  .nb-periodic-table-category-legend-cell:nth-child(2n+2) {
    padding-right: 0; }

.nb-periodic-table-category-legend-item {
  display: block;
  line-height: 1.5;
  text-align: left; }
  .nb-periodic-table-category-legend-item__swatch {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    float: left;
    border: 1px solid #ccc; }
  .nb-periodic-table-category-legend-item__label {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    margin-left: 2.25em; }
  .nb-periodic-table-category-legend-item[data-category='metalloid'] .nb-periodic-table-category-legend-item__swatch {
    background: #8dd3c7; }
  .nb-periodic-table-category-legend-item[data-category='unknown-properties'] .nb-periodic-table-category-legend-item__swatch {
    background: #ffffb3; }
  .nb-periodic-table-category-legend-item[data-category='alkali-metal'] .nb-periodic-table-category-legend-item__swatch {
    background: #bebada; }
  .nb-periodic-table-category-legend-item[data-category='alkaline-earth-metal'] .nb-periodic-table-category-legend-item__swatch {
    background: #fb8072; }
  .nb-periodic-table-category-legend-item[data-category='lanthanide'] .nb-periodic-table-category-legend-item__swatch {
    background: #80b1d3; }
  .nb-periodic-table-category-legend-item[data-category='actinide'] .nb-periodic-table-category-legend-item__swatch {
    background: #fdb462; }
  .nb-periodic-table-category-legend-item[data-category='transition-metal'] .nb-periodic-table-category-legend-item__swatch {
    background: #b3de69; }
  .nb-periodic-table-category-legend-item[data-category='post-​transition-metal'] .nb-periodic-table-category-legend-item__swatch {
    background: #fccde5; }
  .nb-periodic-table-category-legend-item[data-category='polyatomic-nonmetal'] .nb-periodic-table-category-legend-item__swatch {
    background: #d9d9d9; }
  .nb-periodic-table-category-legend-item[data-category='diatomic-nonmetal'] .nb-periodic-table-category-legend-item__swatch {
    background: #bc80bd; }
  .nb-periodic-table-category-legend-item[data-category='noble-gas'] .nb-periodic-table-category-legend-item__swatch {
    background: #ccebc5; }

.nb-periodic-table-element-legend {
  display: inline-block;
  vertical-align: top; }
  .nb-periodic-table-element-legend--at-wide {
    margin-right: 6em; }
  .nb-periodic-table-element-legend__caption {
    margin: 1.5em auto;
    line-height: 1.5; }
  .nb-periodic-table-element-legend__subject {
    display: inline-block; }
    .nb-periodic-table-element-legend__subject .nb-periodic-table-element {
      display: inline-block;
      width: 5em;
      padding: .5em;
      background: #eee;
      border: 1px solid #ccc; }
  .nb-periodic-table-element-legend__notes {
    display: inline-block;
    margin-left: .5em; }
    .nb-periodic-table-element-legend__notes .nb-periodic-table-element {
      display: inline-block;
      width: auto;
      max-width: none;
      background: none;
      border-color: transparent; }
      .nb-periodic-table-element-legend__notes .nb-periodic-table-element .nb-periodic-table-element-legend__connector {
        border-top: 1px solid #999;
        display: block;
        position: absolute;
        left: -2.25em;
        top: 0.75em;
        width: 1.75em;
        height: 1px; }
      .nb-periodic-table-element-legend__notes .nb-periodic-table-element__atomic-number {
        left: auto; }
      .nb-periodic-table-element-legend__notes .nb-periodic-table-element__atomic-number, .nb-periodic-table-element-legend__notes .nb-periodic-table-element__symbol, .nb-periodic-table-element-legend__notes .nb-periodic-table-element__name, .nb-periodic-table-element-legend__notes .nb-periodic-table-element__atomic-mass, .nb-periodic-table-element-legend__notes .nb-periodic-table-element__electronegativity {
        text-align: left; }
        .nb-periodic-table-element-legend__notes .nb-periodic-table-element__atomic-number .nb-periodic-table-element-legend__note, .nb-periodic-table-element-legend__notes .nb-periodic-table-element__symbol .nb-periodic-table-element-legend__note, .nb-periodic-table-element-legend__notes .nb-periodic-table-element__name .nb-periodic-table-element-legend__note, .nb-periodic-table-element-legend__notes .nb-periodic-table-element__atomic-mass .nb-periodic-table-element-legend__note, .nb-periodic-table-element-legend__notes .nb-periodic-table-element__electronegativity .nb-periodic-table-element-legend__note {
          display: inline-block;
          position: relative;
          line-height: 1.5; }
      .nb-periodic-table-element-legend__notes .nb-periodic-table-element__atomic-number .nb-periodic-table-element-legend__note {
        margin: -0.54545em 0; }
      .nb-periodic-table-element-legend__notes .nb-periodic-table-element__symbol .nb-periodic-table-element-legend__note {
        margin: -0.33333em 0; }
      .nb-periodic-table-element-legend__notes .nb-periodic-table-element__name .nb-periodic-table-element-legend__note {
        margin: -0.54545em 0; }
      .nb-periodic-table-element-legend__notes .nb-periodic-table-element__atomic-mass .nb-periodic-table-element-legend__note, .nb-periodic-table-element-legend__notes .nb-periodic-table-element__electronegativity .nb-periodic-table-element-legend__note {
        margin: -0.54545em 0; }

.nb-periodic-table-legend {
  display: inline-block; }

.nb-periodic-table-table {
  border-collapse: collapse;
  margin: 0 auto; }

.nb-periodic-table-cell {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  vertical-align: top;
  padding: 0;
  border: 1px solid #ccc; }
  .nb-periodic-table-cell--empty {
    border: none; }
    .nb-periodic-table-cell--empty .nb-periodic-table-element {
      height: 1.5em; }

.nb-periodic-table-element {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border-collapse: collapse;
  position: relative;
  width: 100%; }
  .nb-periodic-table-element__basic {
    vertical-align: middle; }
  .nb-periodic-table-element__extended {
    vertical-align: middle; }
  .nb-periodic-table-element__atomic-number {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    position: absolute;
    text-align: left;
    line-height: 1; }
  .nb-periodic-table-element__symbol {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
    line-height: 1; }
  .nb-periodic-table-element__name {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    position: relative;
    margin: 0 auto;
    line-height: 1; }
  .nb-periodic-table-element__properties {
    border-collapse: collapse;
    width: 100%; }
  .nb-periodic-table-element__atomic-mass {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    padding: .25em 0;
    line-height: 1; }
  .nb-periodic-table-element__electronegativity {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    padding: .25em 0;
    line-height: 1; }

.nb-periodic-table-cell {
  background: #eee; }
  .nb-periodic-table-cell--empty {
    background: transparent; }

.nb-periodic-table-legend {
  padding: 0;
  border: 0; }

.nb-periodic-table-element-legend--at-default {
  display: inline-block; }

.nb-periodic-table-element-legend--at-wide {
  display: none; }

.nb-periodic-table-element-legend__caption {
  font-size: 14px;
  font-size: 0.875rem; }

.nb-periodic-table-element-legend__notes .nb-periodic-table-element__atomic-number .nb-periodic-table-element-legend__note, .nb-periodic-table-element-legend__notes .nb-periodic-table-element__symbol .nb-periodic-table-element-legend__note, .nb-periodic-table-element-legend__notes .nb-periodic-table-element__name .nb-periodic-table-element-legend__note, .nb-periodic-table-element-legend__notes .nb-periodic-table-element__atomic-mass .nb-periodic-table-element-legend__note, .nb-periodic-table-element-legend__notes .nb-periodic-table-element__electronegativity .nb-periodic-table-element-legend__note {
  font-size: 14px;
  font-size: 0.875rem; }

.nb-periodic-table-category-legend--at-default {
  display: none; }

.nb-periodic-table-category-legend--at-wide {
  display: none; }

.nb-periodic-table-category-legend-item {
  font-size: 14px;
  font-size: 0.875rem; }

.nb-periodic-table-table {
  display: block;
  width: 100%;
  max-width: 24em; }
  .nb-periodic-table-table tbody {
    display: block; }

.nb-periodic-table-row {
  display: block; }

.nb-periodic-table-cell {
  display: block;
  margin: 0 auto -1px; }
  .nb-periodic-table-cell--empty {
    display: none; }
  .nb-periodic-table-cell--blockholder {
    display: none; }
  .nb-periodic-table-cell--at-default {
    display: block; }
  .nb-periodic-table-cell--at-wide {
    display: none; }

.nb-periodic-table-element {
  display: table;
  padding: .5em; }
  .nb-periodic-table-element__basic {
    display: table-cell;
    width: 33%; }
  .nb-periodic-table-element__extended {
    display: table-cell;
    width: 67%; }
  .nb-periodic-table-element__atomic-number {
    font-size: 14px;
    font-size: 0.875rem;
    top: 0.75em;
    left: 0.5em; }
  .nb-periodic-table-element__symbol {
    padding: 1.5em 0;
    font-size: 18px;
    font-size: 1.125rem; }
  .nb-periodic-table-element__name {
    padding: .25em 0;
    text-align: left;
    font-size: 14px;
    font-size: 0.875rem; }
  .nb-periodic-table-element__properties {
    display: table; }
  .nb-periodic-table-element__atomic-mass {
    display: table-cell;
    width: 50%;
    text-align: left;
    font-size: 14px;
    font-size: 0.875rem; }
  .nb-periodic-table-element__electronegativity {
    display: table-cell;
    width: 50%;
    text-align: left;
    font-size: 14px;
    font-size: 0.875rem; }

.nb-periodic-table-table--18 .nb-periodic-table-cell {
  width: 100%; }

@media (min-width: 82em) {
  .nb-periodic-table-cell[data-category='metalloid'] {
    background: #8dd3c7; }
  .nb-periodic-table-cell[data-category='unknown-properties'] {
    background: #ffffb3; }
  .nb-periodic-table-cell[data-category='alkali-metal'] {
    background: #bebada; }
  .nb-periodic-table-cell[data-category='alkaline-earth-metal'] {
    background: #fb8072; }
  .nb-periodic-table-cell[data-category='lanthanide'] {
    background: #80b1d3; }
  .nb-periodic-table-cell[data-category='actinide'] {
    background: #fdb462; }
  .nb-periodic-table-cell[data-category='transition-metal'] {
    background: #b3de69; }
  .nb-periodic-table-cell[data-category='post-​transition-metal'] {
    background: #fccde5; }
  .nb-periodic-table-cell[data-category='polyatomic-nonmetal'] {
    background: #d9d9d9; }
  .nb-periodic-table-cell[data-category='diatomic-nonmetal'] {
    background: #bc80bd; }
  .nb-periodic-table-cell[data-category='noble-gas'] {
    background: #ccebc5; }
  .nb-periodic-table-cell--empty {
    background: transparent; }
  .nb-periodic-table-legend {
    padding: 1em 1em;
    border: 1px dotted #ccc; }
  .nb-periodic-table-element-legend--at-default {
    display: none; }
  .nb-periodic-table-element-legend--at-wide {
    display: inline-block; }
  .nb-periodic-table-element-legend__caption {
    font-size: 0.75rem; }
  .nb-periodic-table-element-legend__notes .nb-periodic-table-element__atomic-number .nb-periodic-table-element-legend__note, .nb-periodic-table-element-legend__notes .nb-periodic-table-element__symbol .nb-periodic-table-element-legend__note, .nb-periodic-table-element-legend__notes .nb-periodic-table-element__name .nb-periodic-table-element-legend__note, .nb-periodic-table-element-legend__notes .nb-periodic-table-element__atomic-mass .nb-periodic-table-element-legend__note, .nb-periodic-table-element-legend__notes .nb-periodic-table-element__electronegativity .nb-periodic-table-element-legend__note {
    font-size: 0.75rem; }
  .nb-periodic-table-category-legend--at-default {
    display: none; }
  .nb-periodic-table-category-legend--at-wide {
    display: inline-block; }
  .nb-periodic-table-category-legend-item {
    font-size: 0.75rem; }
  .nb-periodic-table-table {
    display: table;
    width: auto;
    max-width: none; }
    .nb-periodic-table-table tbody {
      display: table-row-group; }
  .nb-periodic-table-row {
    display: table-row; }
  .nb-periodic-table-cell {
    display: table-cell;
    margin: 0; }
    .nb-periodic-table-cell--empty {
      display: table-cell; }
    .nb-periodic-table-cell--blockholder {
      display: table-cell; }
    .nb-periodic-table-cell--at-default {
      display: none; }
    .nb-periodic-table-cell--at-wide {
      display: table-cell; }
  .nb-periodic-table-element {
    display: block;
    padding: .5em .25em; }
    .nb-periodic-table-element__basic {
      display: block;
      width: 100%; }
    .nb-periodic-table-element__extended {
      display: block;
      width: 100%; }
    .nb-periodic-table-element__atomic-number {
      font-size: 0.6875rem;
      top: 0.75em;
      left: 0.75em; }
    .nb-periodic-table-element__symbol {
      padding: 0.8em 0 0.31111em;
      font-size: 1.125rem; }
    .nb-periodic-table-element__name {
      padding: .25em 0;
      text-align: center;
      font-size: 0.6875rem; }
    .nb-periodic-table-element__properties {
      display: block; }
    .nb-periodic-table-element__atomic-mass {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 0.6875rem; }
    .nb-periodic-table-element__electronegativity {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 0.6875rem; }
  .nb-periodic-table-table--18 .nb-periodic-table-cell {
    width: 5.55556%; } }
